## Final Project Submission

Please fill out:
* Student name: DENNIS MATHU KIMANI
* Student pace: self paced / part time / full time FULL TIME
* Scheduled project review date/time: 15TH SEPTEMEBER 2023 
* Instructor name: SAMUEL KARU
* Blog post URL:

In [2]:
# Your code here - remember to use markdown cells for comments as well!

import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

# TAKING A LOOK AT THE DATA INSIDE THE TABLES

After importing the neccesary libraries, I proceed to open the imdb sqlite database to have a look at the tables within them and most importantly, the data inside the tables.
Once we have a good idea of the data we are dealinf with, I will proceed to the analysis step.

## Querying the Movie Basics Table
Checking the data inside the Movie Basics table of the IMDB Database

In [7]:
#Establishing a connection to the imdb sqlite database
connection = sqlite3.connect (".\zippedData\im.db")
cursor = connection.cursor()

#querying the Movie Basics Table 
movie_basics_query = """ 
SELECT *
FROM movie_basics
"""
cursor.execute(movie_basics_query)
cursor.fetchall()

#transforming the data from the query into a dataframe so as it is presented in a clean tabular format
movie_basics_df = pd.read_sql(movie_basics_query,connection)

movie_basics_df.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

## Querying the Movie Ratings table
Checking the data inside the Movie Ratings table within the IMDB Database

In [8]:
#querying the Movie Ratings Table 
movie_ratings_query = """ 
SELECT *
FROM movie_ratings
"""
cursor.execute(movie_ratings_query)
cursor.fetchall()

#transforming the data from the query into a dataframe so as it is presented in a clean tabular format
movie_ratings_df = pd.read_sql(movie_ratings_query,connection)

movie_ratings_df.head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

## Most voted movies
Getting the movies with the most number of votes. This will show the movies which received the most number of votes which will effectively show the movies that attrcted the most viewer engangement in votes.

In [12]:
most_voted_query = """SELECT * 
               FROM movie_ratings
               ORDER BY numvotes
               DESC 
               LIMIT 20
               """
cursor.execute(most_voted_query)
cursor.fetchall()

most_voted_movies_df = pd.read_sql(most_voted_query, connection)
most_voted_movies_df

     movie_id  averagerating  numvotes
0   tt1375666            8.8   1841066
1   tt1345836            8.4   1387769
2   tt0816692            8.6   1299334
3   tt1853728            8.4   1211405
4   tt0848228            8.1   1183655
5   tt0993846            8.2   1035358
6   tt1130884            8.1   1005960
7   tt2015381            8.1    948394
8   tt1431045            8.0    820847
9   tt1392170            7.2    795227
10  tt2488496            8.0    784780
11  tt1392190            8.1    780910
12  tt2267998            8.1    761592
13  tt0903624            7.9    719629
14  tt1454468            7.7    710018
15  tt1300854            7.2    692794
16  tt1201607            8.1    691835
17  tt0800369            7.0    683264
18  tt0435761            8.3    682218
19  tt3659388            8.0    680116

## Getting the genres of the most voted movies
I merged the Movies Basics table with the Movie Ratings table with their Movie IDs to get the genres of the most voted movies.

In [15]:
merge_movies_df = movie_basics_df.merge(most_voted_movies_df, on='movie_id')
#merge_movies_df

most_voted_movie_basics = merge_movies_df.nlargest(20, 'numvotes')
most_voted_movie_basics

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
10,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
9,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
2,tt0816692,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
15,tt1853728,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
3,tt0848228,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
5,tt0993846,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",8.2,1035358
6,tt1130884,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller",8.1,1005960
16,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,948394
13,tt1431045,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,820847
11,tt1392170,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",7.2,795227
18,tt2488496,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",8.0,784780
12,tt1392190,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",8.1,780910
17,tt2267998,Gone Girl,Gone Girl,2014,149.0,"Drama,Mystery,Thriller",8.1,761592
4,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629
14,tt1454468,Gravity,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",7.7,710018
8,tt1300854,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi",7.2,692794
7,tt1201607,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy",8.1,691835
1,tt0800369,Thor,Thor,2011,115.0,"Action,Adventure,Fantasy",7.0,683264
0,tt0435761,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
19,tt3659388,The Martian,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi",8.0,680116

# RECOMMENDATION 1

After doing the merge, the resulting table clearly show that:  
**15 out of the top 20** most voted movies are in the **Action and Aventure Genres**.  
**4 out of 7** movies that got more than 1 million votes are in the **Action and Aventure Genres**.

Based on this analysis, I recommend the Microsoft Team to focus on this two genres in the movies they want to produce in order to achieve maximum impact among viewers.

## Getting genres of the movies with highest rating
Below, I merged the Movie Basics table dataframe with the Movie Ratings table dataframe to get the genres of the top 20 movies with the highest rating

In [17]:
merge_movies_ratings_df = movie_basics_df.merge(most_voted_movies_df, on='movie_id')
#merge_movies_df

highest_movie_ratings = merge_movies_df.nlargest(20, 'averagerating')
highest_movie_ratings

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
10,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
2,tt0816692,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
9,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
15,tt1853728,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
0,tt0435761,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
5,tt0993846,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",8.2,1035358
6,tt1130884,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller",8.1,1005960
7,tt1201607,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy",8.1,691835
12,tt1392190,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",8.1,780910
3,tt0848228,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
16,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,948394
17,tt2267998,Gone Girl,Gone Girl,2014,149.0,"Drama,Mystery,Thriller",8.1,761592
13,tt1431045,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,820847
18,tt2488496,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",8.0,784780
19,tt3659388,The Martian,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi",8.0,680116
4,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629
14,tt1454468,Gravity,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",7.7,710018
8,tt1300854,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi",7.2,692794
11,tt1392170,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",7.2,795227
1,tt0800369,Thor,Thor,2011,115.0,"Action,Adventure,Fantasy",7.0,683264

In [25]:
highest_movie_ratings ['adventure_count'] = highest_movie_ratings['genres'].str.count('Adventure')
genre_count = highest_movie_ratings['adventure_count'].sum() 
print (f"The adventure genre appears {genre_count} times in the merge above")

The adventure genre appears 14 times in the merge above

# RECOMMENDATION 2
The resulting merge above shows that:  
**14 out 20** movies with the highest ratings from viewers are in the **Adventure Genre**  
**10 out of 15** movies that have above the rating of 8.0 are in the **Action and Adventure Genres**  
**4 out of 7** movies that achieved both over 8.0 rating and over 1 million votes are in the **Action and Adventure Genres**   

Based on the insights above, I recommend that the Microsoft team focuses on the **Action and Adventure Genres** in their movie production since those two genres are not only the **most voted** but also receive the **highest rating**